# Quartus
db/
incremental_db/
output_files/
simulation/
greybox_tmp/
*.cmp
*.qsf
*.qws
*.alc

# Python
__pycache__/

# Preprocessed (pp.py)
dist/

# Images
*.jpg
!/tests/lcd/res/**/*.jpg
!/src/**/*.jpg
